{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["prismjs", {
        "languages": [
          "ruby",
          "javascript",
          "css",
          "sass",
          "markup",
          "bash",
          "shell",
          "shell-session"
        ],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}
