{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["prismjs", {
        "languages": [
          "ruby",
          "javascript",
          "css",
          "sass",
          "markup"
        ],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
    }]
  ]
}
